<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица постов</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Тема поста</th>
            <th scope="col">Текст поста</th>
        </tr>
        </thead>
        <tbody>
        {% for post in post_list %}
            <tr>
                <td>{{ post.userId.name }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>